@font-face {
    font-family: 'Artegra Sans Extended Alt';
    src: local('Artegra Sans Extended Alt Regular'), local('Artegra-Sans-Extended-Alt-Regular'),
        url('ArtegraSansExAltRegular.woff2') format('woff2'),
        url('ArtegraSansExAltRegular.woff') format('woff'),
        url('ArtegraSansExAltRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Artegra Sans Extended Alt';
    src: local('Artegra Sans Extended Alt SemiBold'), local('Artegra-Sans-Extended-Alt-SemiBold'),
        url('ArtegraSansExAltSBold.woff2') format('woff2'),
        url('ArtegraSansExAltSBold.woff') format('woff'),
        url('ArtegraSansExAltSBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}